/*
Error: Invalid CSS after "	background-image:": expected "{", was "url(file!../ima..."
        on line 391 of common.scss
        from line 3 of index.scss

386: 	top:0;
387: 	overflow: hidden;
388: 	position: absolute;
389: 	height: 100%;
390: 	width: 100%;
391: 	background-image:url(file!../images/dot.jpg);
392: 	background-size: 10px 10px;
393: 	will-change:top;
394: }
395: .mainBlock[active='1']{
396: 	display:block;

Backtrace:
common.scss:391
index.scss:3
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1110:in `tok!'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:655:in `block'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:725:in `declaration_or_ruleset'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:675:in `block_child'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:656:in `block'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/engine.rb:309:in `to_tree'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:324:in `block in visit_import'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:88:in `block in with_import'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:88:in `with_import'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:79:in `block in with_base'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:115:in `with_frame'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/stack.rb:79:in `with_base'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `map'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `each'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
/home/mingtao/.gem/ruby/2.3.0/gems/sass-3.4.20/bin/scss:13:in `<top (required)>'
/home/mingtao/.gem/ruby/2.3.0/bin/scss:23:in `load'
/home/mingtao/.gem/ruby/2.3.0/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	background-image:\": expected \"{\", was \"url(file!../ima...\"\A         on line 391 of common.scss\A         from line 3 of index.scss\A \A 386: 	top:0;\A 387: 	overflow: hidden;\A 388: 	position: absolute;\A 389: 	height: 100%;\A 390: 	width: 100%;\A 391: 	background-image:url(file!../images/dot.jpg);\A 392: 	background-size: 10px 10px;\A 393: 	will-change:top;\A 394: }\A 395: .mainBlock[active='1']{\A 396: 	display:block;"; }
