$scrollTime : 1s;
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1439136819_6711369.eot'), url('//at.alicdn.com/t/font_1439136819_6711369.woff') format("woff"), url('//at.alicdn.com/t/font_1439136819_6711369.ttf') format("truetype"), url('//at.alicdn.com/t/font_1439136819_6711369.svg#iconfont') format("svg");
}

@font-face {
	font-family: 'lanting';
	src:url('fonts/lantingx.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.hoverImg {
  display: none;
  animation: scales 0.5s ease-in-out infinite alternate;
  -webkit-animation: scales 0.5s ease-in-out infinite alternate;
  -o-animation: scales 0.5s ease-in-out infinite alternate;
}

#menu{
  animation: menuScale 0.5s ease-in-out infinite alternate;
  -webkit-animation: menuScale 0.5s ease-in-out infinite alternate;
  -o-animation: menuScale 0.5s ease-in-out infinite alternate;
}

.hoverImgHandle {
  z-index: 1;
}

.hoverImg, .hoverImgHandle {
  position: absolute;
}

@media screen and (max-aspect-ratio: 16 / 9) {
  #hoverImgContainer, #loadImgContainer {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    height: 100%;
  }

  #bgImg {
    height: 100%;
    width: auto;
  }
}

@media screen and (min-aspect-ratio: 16 / 9) {
  #hoverImgContainer, #loadImgContainer {
    position: absolute;
    width: 100%;
  }

  #bgImg {
    width: 100%;
    height: auto;
  }
}



#hoverImgContainer {
  z-index: 1;
}

#loadImgContainer {
  z-index: 4;
}

/*#bgImg{ display: block; margin-left: -50%; left: 50%; position: relative}*/

#cover {
  background-color: #f7f7f7;
  position: fixed;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
  z-index: 2;
}

#load1, #load2Container {
  position: absolute;
  z-index: 102;
  width: 29%;
  left: 35%;
  bottom: 47%;
}

#load2 {
  width: 100%;
  bottom: 0;
  position: absolute;
}

#load2Container {
  overflow: hidden;
  top: 53%;
  z-index: 101;
 -webkit-transition: top 0.5s linear;
  -moz-transition: top 0.5s linear;
  -ms-transition: top 0.5s linear;
  -o-transition: top 0.5s linear;
  transition: top 0.5s linear;
}

#wave {
  width: 100%;
  height: 20px;
  position: absolute;
  z-index: 2;
}

/*导航条*/

#nav {
  //height:6%;
  display: flex;
  width:100%;
  z-index: 100;
  top: 0;
  position: fixed;
  height: 60px;
  overflow: hidden;
  width: 100%;

  transform:translate(0, -100%);
  -o-transform:translate(0, -100%);
  -moz-transform:translate(0, -100%);
  -ms-transform:translate(0, -100%);
  -webkit-transform:translate(0, -100%);

  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  -ms-transition: transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;

  

  #navFlex{
//	  height: 100%;
  }
  .li{
	  display:inline-block;
	  //height:100%;
	  height:60px;
	  font-family: lanting;
	  transform: scaleX(1.01);
	  -o-transform: scaleX(1.01);
	  -moz-transform: scaleX(1.01);
	  -webkit-transform: scaleX(1.01);
	  -ms-transform: scaleX(1.01);
  }
  #logo{
	  width:120px;
	  background-color:black;
	  border-bottom:1px solid #DBD9D9;
  }
  #navFlex{
	  flex:1 2 400px;
	  background-color:white;
//	  border-bottom:1px solid #DBD9D9;
  }
  .listCon {
	transform-style:preserve-3d;
    margin: 20px;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
	display: block;
	-webkit-backface-visibility:hidden;
	//backface-visibility:hidden;
	-moz-backface-visibility:hidden;	
	font-size:15px;
  }
  a {
	  display: inline-block;
	  position:relative;
	  height: 60px;
	  transform-style:preserve-3d;
	  -moz-transform-style:preserve-3d;
	  line-height:24px;
  }
  .sin{
	  transition:transform 0.5s ease;
	  -o-transition:transform 0.5s ease;
  }
  .dou{
	  -o-transition:transform 0.5s ease-in-out;
	  transition:transform 0.5s ease-in-out;
  }
  .li:hover a, a[isselected=true]{
	  transform: rotateX(-180deg);
	  -moz-transform: rotateX(-180deg);
	  -o-transform: rotateX(-180deg);
  }
  //.li:hover .listCon{opacity:0}

}
#menuInNav{
	  display:inline-block;
	  height:60px;
  }

.clapboard{
	width: 101%;
	height: 100%;
	position: absolute;
	z-index: -2;
	top: 0;
	background-color: white;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-backface-visibility:hidden;
}
.listPicContainer{
	background-color:white;
	position:absolute;
	z-index: -4;
	left: 50%;
	top: 50%;
	transform: rotateX(180deg)translate(-50%,-50%);
	-o-transform: rotateX(180deg)translate(-50%,-50%);
	-moz-transform: rotateX(180deg)translate(-50%,-50%);

	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	backface-visibility:hidden;

	transform-origin:center 0 0;
	-moz-transform-origin:center 0 0;
	width:100%;
	height:100%;
}
.listPic{
	height:48%;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
#listContainer{
//	position: absolute;
	//right: 0;
//	height: 100%;
	white-space:nowrap;
}
#menu{
	position: fixed;
	right:40px;
	top:40px;
	z-index:101;
	background-color:#3DF2E3;
	width:36px;
	height:36px;
	border-radius:18px;
}
#menuCenter {
	position:absolute;  
	font-size:22px;
	height:24px;
	width:24px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
}
//--------导航条结束----------
#main{
	position: relative;	
	transition: top $scrollTime;
	-o-transition: top $scrollTime;
	-webkit-transition: top $scrollTime;
	-moz-transition: top $scrollTime;
	-ms-transition: top $scrollTime;
}
.mainBlock{
	overflow: hidden;
	position: relative;
	height: 100%;
	width: 100%;
}

#group aside{
	text-align: center;	
	margin-left: 5%;
	z-index:3;
}



//-------------漂浮动画开始-------------
@keyframes YMove {
  from {
    transform: translate(0, -20%);
  }

  to {
    transform: translate(0, 0);
  }
}
@-moz-keyframes YMove {
  from {
    -moz-transform: translate(0, -20%);
    transform: translate(0, -20%);
  }

  to {
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes YMove {
  from {
    -webkit-transform: translate(0, -20%);
    transform: translate(0, -20%);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes RotateR {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes RotateR {
  from {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes RotateR {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#suspension{
	display: none;
	animation: YMove 5s ease-in-out infinite alternate;
	-webkit-animation: YMove 5s ease-in-out infinite alternate;
	-o-animation: YMove 5s ease-in-out infinite alternate;
}

.rotateR{
	animation: RotateR 5s linear infinite;
	-webkit-animation: RotateR 5s linear infinite;
	-o-animation: RotateR 5s linear infinite;
}

@media screen and (max-aspect-ratio:8/3) and (min-width:600px) and (min-height:500px){ 
	#suspension{
		display: block;
	}
}

.animation{
	position: absolute;
}
//-------------漂浮动画结束-------------
//-------------组别开始-------------
#groupImgContainer{
	position: relative;
	height: 600%;
//	left: 9%;
//	width: 442.5%;	
//	transform: translate(-83.333333%,0);
//	-ms-transform: translate(-83.333333%,0);
//	-moz-transform: translate(-83.333333%,0);
//	-webkit-transform: translate(-83.333333%,0);
//	-o-transform: translate(-83.333333%,0);

	transition: all $scrollTime;
	-ms-transition: all $scrollTime;
	-moz-transition: all $scrollTime;
	-webkit-transition: all $scrollTime;
	-o-transition: all $scrollTime;
	//overflow: hidden;

	top:0;
}
.groupImg{
	//width: 16.66666667%;
	//position: relative;
//	float: right;
	opacity: 0;
	width:60%;
	
}
.groupImgBg{
	height:16.6667%;
	width:100%;
	position:relative;
}
#groupImg1{
	opacity: 1;
}
#groupName{
	position: relative;
	height: 20px;
}
#groupNameLine{
	background-color: #333333;
	height: 3px;
	position: absolute;
	width: 20px;
	top: -5px;	
}
#groupMoveContainer{
	position: absolute;
	left: 50%;
	white-space: nowrap;
	transition: all $scrollTime;
	-ms-transition: all $scrollTime;
	-moz-transition: all $scrollTime;
	-webkit-transition: all $scrollTime;
	-o-transition: all $scrollTime;

	transform: translate(-8.333333%, 0);
	-moz-transform: translate(-8.333333%, 0);
	-o-transform: translate(-8.333333%, 0);
	-webkit-transform: translate(-8.333333%, 0);
	-ms-transform: translate(-8.333333%, 0);
}
.dot{
	margin-top: 128%;
	margin-bottom: 128%;
	font-size: 3px;
}
#intrContent{
	position:relative;
	height:50%;
	word-wrap: break-word; 
	word-break: normal; 
//	padding-left: 20%;
//	padding-right: 20%;
}
.groupIntr{
	width: 100%;
	//height: 30%;
	
}

#groupNameContainer{
	position:relative;
	height:50%;
	transition: all $scrollTime;
	-ms-transition: all $scrollTime;
	-moz-transition: all $scrollTime;
	-webkit-transition: all $scrollTime;
	-o-transition: all $scrollTime;
}
.groupNameImg{
	width:80%;
}
.groupBlock{
	position: relative;
	height: 100%;
	width: 50%;
	display: inline-block;
}
#groupRight{
//	background-color: #ACDBEF;
}
#groupArrowUp{
	transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}

#groupArrowDown{
	transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

#suspension{
	position: absolute;
	z-index:3;
	//background-color: grey;
}
//-----------组别结束----------------
//-----------作品页开始----------------
.workBlock{
	display: inline-block;
	position:relative;
	width: 20%;
	height:100%;
}
.worksImg{
	top:18%;
	position: absolute;
	background-color:green;
	width:420px;
	height:50%;
}
#worksIntr{
	top:68%;
	height:15%;
	width:420px;
	position:absolute;
	background-color:grey;
	text-align:center;
}
#workSecContainer{
	transition: left $scrollTime ease-out 0.5s;
	-ms-transition: left $scrollTime ease-out 0.5s;
	-moz-transition: left $scrollTime ease-out 0.5s;
	-webkit-transition: left $scrollTime ease-out 0.5s;
	-o-transition: left $scrollTime ease-out 0.5s;
	position:relative;
	width: 500%;
}
#gallery{
	transition: transform $scrollTime linear;
	-ms-transition: transform $scrollTime linear;
	-moz-transition: transform $scrollTime linear;
	-webkit-transition: transform $scrollTime linear;
	-o-transition: transform $scrollTime linear;
	top:25%;
	position:absolute;
	height:36%;
	white-space:nowrap;
	//min-height:300px;
	img{
		height:100%;
		display:inline;
	}
}
#worksAside{
	top:90%;
}
#worksArrowLeft{
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.worksDot{
	display:inline-block;
}
#worksArrowLeft{
	display: inline-block;
}
#worksIntrCon{
	height:50%;
	background-color:white;
	position:relative;
}
#worksIntrTitle{
	position:relative;
	height:50%;
}
.worksName{
	transition: opacity 1s;
	-o-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-ms-transition: opacity 1s;
	opacity:0;
	position:absolute;
}
//---------作品页结束-----------------
//---------介绍页开始-----------------
.intrImg{
	position:absolute;
	height:60%;
}
#lb{
	left:0;
	bottom:0;
	z-index:1
}
#lt{
	left:0;
	top:0;
	z-index:3;
}
#rb{
	right:0;
	bottom:0;
	z-index:4;
}
#rt{
	right:0;
	top:0;
	z-index:2;
}

//---------介绍页结束-----------------
