#designImg {
  width: 20%;
  top: 37%;
  left: 2%;
}
#webImg {
  width: 16%;
  top: 66%;
  left: 65%;
}
#pmImg {
  width: 7%;
  top: 38%;
  left: 85.9%;
}
#iosImg {
  width: 13%;
  top: 68%;
  left: 36.5%;
}
#labImg {
  width: 16%;
  top: 68%;
  left: 17.5%;
}
#monkeyImg {
  width: 34%;
  top: 25%;
  left: -1.5%;
}

#designImgHandle {
  width: 4%;
  top: 41%;
  left: 15.5%;
}
#webImgHandle {
  width: 4.5%;
  top: 70%;
  left: 67%;
  height:7%;
}
#pmImgHandle {
  width: 3%;
  top: 49%;
  left: 87.5%;
  height:9%;
}
#iosImgHandle {
  width: 4%;
  top: 73%;
  left: 37.5%;
}
#labImgHandle {
  width: 3%;
  top: 71%;
  left: 19%;
  height:8%;
}
#monkeyImgHandle {
  width: 4%;
  top: 25%;
  left: 26%;
  height:10%;
}
#androidImgHandle {
  width: 4.5%;
  top: 15%;
  left: 48%;
  height:9%;
}
